<section>
  <ul class="kanban">
    {%- for research in sorted_research -%}
        <li class="blog-card-head kanban-item">
        <div class="blog-category">
            {% for category in research.categories %}  <a> {{ category }}</a> {% endfor %}
        </div>
					<div class="card-head">
              <a href="{% if research.redirect %}{{ research.redirect }}{% else %}{{ research.url | relative_url }}{% endif %}"> 
                 {{ research.title }}
              </a>
          </div>
          </li>
        {%- endfor %}
  </ul>
</section>



 <a class="top" href="#">Back to Top</a>

