

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

}

.blog-category {
    display: none;
  }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 940px;
  margin: auto;
}

.blog-card {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 260px;
  transition: 0.5 ease;
  cursor: pointer;
  transition: 0.5s ease-in
}
.blog-card:hover {
  transition:0.5s ease-out;
//   transform: scale(1.);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.card-header {
  padding: 0px!important;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 0px solid rgba(0, 0, 0, .125) !important;
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 190px;
}

.blog-card-head {
  border-radius: 4px;
  box-shadow: 0 0px 1px rgba(0,0,0,.5);
  overflow: hidden;
  // transition: 0.3 ease;
  width: 280px;
  cursor: pointer;
  // transition: 0.1s ease-in;
  background-color: var(--global-blog-card-color);
  display: inherit;
}
.blog-card-head:hover {
  transition:0.1s ease-out;
  // box-shadow: 0px 0px 6px #06a7a7ab;
}

.card-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;

  p {
    margin: auto;
    margin-left: 0;
    padding: 0 10px;

  }
  a {
    color: var(--global-text-color);
    font-weight: 500;
  }
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
 
}

.tag {
  background: #777;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  color: #1c1c1c;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: $teal-color;
  margin-bottom: 8px;
}
.tag-purple {
  background-color: #3d1d94;
}
.tag-pink {
  background-color: #c62bcb;
}

.card-main h4 {
  margin: 10px 0;
}
.card-main p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}

@media (max-width: 940px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 550px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

// .reset {
//     left: unset !important;
//     top: unset !important;
//     position: unset !important;
//   }

////////////////////////////


