/******************************************************************************
 * Content
 ******************************************************************************/

body {
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.mid-container {
  max-width: $max-content-width;
  box-shadow: 0 0rem 0.2rem 0 #00000026 !important;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  background-color: var(--global-container-color);
  min-height: 100vh;
  padding-bottom: 10px;
}

.footer-container {
  max-width: $max-content-width;
  margin: 0 auto;
  background-color: var(--global-container-color);
  padding-bottom: 15px;
  box-shadow: 0 0rem 0.2rem 0 #00000026 !important;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  text-align: center;

}

.container {
  max-width: $max-content-width;
  margin: 0 auto;
  background-color: var(--global-container-color);
}

.resume-pdf {
  display: block;
  overflow: hidden;
}

// Profile
.profile {
  img {
    width: 60%;
    margin-left: 2rem;
  }
}

article.post-content h1 {
  font-size: 1.3em;
}







// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
